<!-- 头部 start --><!---->
<script>
    var vm = new Vue({
        el: '#top',
        data: {
            cid: '',
            currentPage: '',
            totalPage: '',
            rname: '',

            uid_input: '',
            username_login: '请登录',
            headerList: [{cid: 1, cname: 'shiki'}],
            myfavorite: '',
        },
        methods: {
            exit() {
                var _this = this;
                axios.get("user/exit").then(function () {
                    _this.username_login = '请登录'
                })
            },
            join() {
                if (this.username_login === '请登录') {
                    location.href = "login.html"
                }
            },
            checkThis() {
                function getParameter(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                    var r = location.search.substr(1).match(reg);
                    if (r != null) return (r[2]);
                    return null;
                }

                this.data.cid = getParameter('cid');
                this.data.currentPage = getParameter('currentPage');
                this.data.totalPage = getParameter('totalPage');
                this.data.rname = getParameter('rname');
            }
        },
        created() {
            var _this = this
            axios.get("categoryServlet/findAll").then(function (value) {
                _this.headerList = value.data
                console.log(_this.headerList)
            })

            axios.get("user/username").then(function (value) {
                if (value.data.flag) {
                    _this.uid_input = value.data.errorMsg.split(":")[0]
                    _this.username_login = value.data.errorMsg.split(":")[1]
                }
            })
        },
    })
</script>
<div id="top">
    <header id="header">
        <!--数据-->

        <input type="hidden" v-model="uid_input">
        <div class="top_banner">
            <img src="images/top_banner.jpg" alt="">
        </div>
        <div class="shortcut">
            <!-- 未登录状态  -->
            <div class="login_out">
                <a href="login.html">登录</a>
                <a href="register.html">注册</a>
            </div>
            <!-- 登录状态  -->
            <div class="login">

                <span @click="join">{{username_login}}</span>
                <a :href="'myfavorite.html?uid='+ uid_input" class="collection">我的收藏</a>
                <a href="javascript:;" @click="exit">退出</a>
            </div>
        </div>
        <div class="header_wrap">
            <div class="topbar">
                <div class="logo">
                    <a href="/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="search">
                    <input name="" type="text" placeholder="请输入路线名称" class="search_input" autocomplete="off"
                           v-model="rname">
                    <a :href="'route_list.html?cid=' + cid + '&currentPage=' + currentPage + '&totalPage=' + totalPage + '&rname=' + rname"
                       class="search-button" @click="checkThis">搜索</a>
                </div>
                <div class="hottel">
                    <div class="hot_pic">
                        <img src="images/hot_tel.jpg" alt="">
                    </div>
                    <div class="hot_tel">
                        <p class="hot_time">客服热线(9:00-6:00)</p>
                        <p class="hot_num">400-618-9090</p>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- 头部 end -->
    <!-- 首页导航 -->
    <div class="navitem">
        <ul class="nav">
            <li class="nav-active"><a href="index.html">首页</a></li>
            <li v-for="item in headerList" :key='i'><a :href="'route_list.html?cid='+item.cid">{{item.cname}}</a></li>
            <li><a href="favoriterank.html">收藏排行榜</a></li>
        </ul>
    </div>
</div>
<!--<script src="js/vue.js"></script>-->
<!--<script src="js/axios.js"></script>-->
